.title {
    display: flex;
    justify-content: center;
    background: rgba(34, 29, 82, 0.5);
    padding: 8px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    color:sandybrown;
}

body {
    background: rgb(28,54,145);
    background: radial-gradient(circle, rgba(28,54,145,1) 0%, rgba(11,17,57,1) 100%);
}

.tempImg {
    display: flex;
    justify-content: center;
    background-color: rgba(34, 29, 82, 0.5);
    border:rgb(76, 111, 226);
    border-style: solid;
    padding: 16px;
    margin: 16px;
    border-radius: 16px;
    font-size: x-large;
    color:sandybrown;
}

.humImg {
    display: flex;
    justify-content: center;
    background-color: rgba(34, 29, 82, 0.5);
    border:rgb(76, 111, 226);
    border-style: solid;
    padding: 16px;
    margin: 16px;
    border-radius: 16px;
    font-size: x-large;
    color:sandybrown;
}

/* .aurora {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
} */