
body , html{
    background: rgb(40,40,40);
    margin: 0px;
    padding: 0px;
}
.header {
    color: rgba(255,255,255 ,0.85);
    justify-content: center;
    align-items: center;
    display: flex;
    height: 400px;
    font-size: 70px;
    margin-top: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 0px 0px 8px rgba(0,0,0,0.7);
    font-weight: bold;
}

#bild {
    width: 100%;
    height: 400px;
    position: relative;
    background-image: url('https://wheelchairtravel.org/wp-content/uploads/2018/11/montreal-guide-header.jpg');
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.65);
    background-size: cover;
    
}

.card-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cards {
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
    margin-top: 32px;
    gap: 48px;
}
#card {
    background: rgba(0,0,0, 0.1);
    width: 150px;
    height: 400px;
    display: block;
    flex-direction: column;
    margin-top: 32px;
    margin: auto;
    border: solid;
    border-color: grey;
    border-radius: 12px;
    color: rgb(196, 196, 196);
    padding: 24px;
    font-size: 24px;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.4);
    text-shadow: 0px 0px 8px rgba(0,0,0,0.5);
}

#area {
    display: flex;
    margin: auto;
    margin-top: 0px;
    font-weight:500;
    font-size: 21px;
    height: 0px;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#grader1 {
    font-size: 48px;
    margin-top: 50px;
    margin-left: 0px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#grader2 {
    font-size: 48px;
    margin-top: 50px;
    margin-left: 0px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#grader3 {
    font-size: 48px;
    margin-top: 50px;
    margin-left: 0px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#grader4 {
    font-size: 48px;
    margin-top: 50px;
    margin-left: 0px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#grader5 {
    font-size: 48px;
    margin-top: 50px;
    margin-left: 0px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#card-image {
    margin-left: 30px;
    margin-top: 40px;
    height: 100px;
    width: 100px;
    color: rgba(210,255,150,1);
    text-shadow: 0px 0px 16px 0px rgba(0,0,0,0.4); 
}

#menu-buttons {
  position: absolute; 
  display: flex;
  justify-content: center;
  width: 100vw;
  left: 0; 
  right: 0; 
  bottom: 0;
  margin-left: auto; 
  margin-right: auto; 
}

.temp-button {

    color: #fff;
    background-color: rgb(40,40,40);
    height: 48px;
    width: 128px;
    font-size: 16px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: transparent;
    border-right: transparent;
    border-left: transparent;
    border-top: transparent;
    border-radius: 4px 4px 0px 0px;
    cursor: pointer;
    transition-duration: 0.4;
}

.hum-button {

    color: #fff;
    background-color: rgb(40,40,40);
    height: 48px;
    width: 128px;
    font-size: 16px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 16px;
    border-bottom: transparent;
    border-right: transparent;
    border-left: transparent;
    border-top: transparent;
    border-radius: 4px 4px 0px 0px;
    cursor:pointer;
    transition-duration: 0.4;    
}
.hum-button:hover {
    background-color: rgb(0, 90, 68);
    color: white;
  }
.temp-button:hover {
    background-color: rgb(0, 90, 68);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

#digital-clock {

 color: #21db8e;
 width: 35%;
 margin:auto;
 margin-top: -196px;
 padding-top: 8px;
 padding-bottom: 8px;
 font-family: 'Open Sans Condensed', sans-serif;
 font-size: 36px;
 text-align: center;
 text-shadow: 0px 0px 8px rgba(0,0,0,0.5);
}

/* #chart{
    margin-bottom: 7%;
    margin-top: 105px; 
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    border:10px;
    padding: 10 px;
    float: auto; 

} */

#credits {
    width: 100%;
    height:256px;
    position: relative;
    background-image: url("https://wallpaperaccess.com/full/1681981.jpg");
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.4);
    background-size: cover;
    object-fit: cover;
    object-position: 0% 10%;
}

#credits-header {
    /* background-color: rgb(48,48,48); */
    display: flex;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    padding-bottom:32px;
    /* margin-right: 50%; */
    z-index: 10;
    text-shadow: 0px 0px 8px rgba(0,0,0,0.7);
    box-shadow: 8px 0px 0px 0px rgba(0,0,0,1);
}

#credits-list {
    /* background-color: rgb(48,48,48); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    padding-right: 16px;
    padding-left: 16px;
    margin-top: -48px;
    z-index: 15;
}

#victor {
    margin: 16px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    border-left: solid 2px rgb(116, 116, 116);
    border-right: solid 2px rgb(116, 116, 116);
    color: #21db8e;
    text-shadow: 0px 0px 8px rgba(0,0,0,0.7);
}

#gabriel {
    margin:16px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    border-left: solid 2px rgb(116, 116, 116);
    border-right: solid 2px rgb(116, 116, 116);
    color: #21db8e;
    text-shadow: 0px 0px 8px rgba(0,0,0,0.7);
}

#simon {
    margin:16px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    border-left: solid 2px rgb(116, 116, 116);
    border-right: solid 2px rgb(116, 116, 116);
    color: #21db8e;
    text-shadow: 0px 0px 8px rgba(0,0,0,0.7);
}

#lucas {
    margin:16px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    border-left: solid 2px rgb(116, 116, 116);
    border-right: solid 2px rgb(116, 116, 116);
    color: #21db8e;
    text-shadow: 0px 0px 8px rgba(0,0,0,0.7);
}

#noel {
    margin:16px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    border-left: solid 2px rgb(116, 116, 116);
    border-right: solid 2px rgb(116, 116, 116);
    color: #21db8e;
    text-shadow: 0px 0px 8px rgba(0,0,0,0.7);
}

#statistics {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 400px;
    background-color: rgb(0,0,0,0.2);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.4);
    margin: auto;
    margin-bottom: 64px;
    justify-content: center;
}

/* #columner {
    display: block;
    flex-direction: row;
    margin-bottom: 32px;
    margin-top: 32px;
    gap: 60px;
    width: 15%;
} */

#klassrummet {
    display: flex;
    margin: 24px;
    margin-top: auto;
    background-color:rgba(0,0,0,0.2);
    width: 160px;
    height: 350px;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.4);
}

#terrariet {
    display: flex;
    margin: 24px;
    margin-top: auto;
    background-color:rgba(0,0,0,0.2);
    width: 160px;
    height: 350px;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.4);
}

#vardagsrummet {
    display: flex;
    margin: 24px;
    margin-top: auto;
    background-color:rgba(0,0,0,0.2);
    width: 160px;
    height: 350px;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.4);
}

#entren {
    display: flex;
    margin: 24px;
    margin-top: auto;
    background-color:rgba(0,0,0,0.2);
    width: 160px;
    height: 350px;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.4);
}

#biblioteket {
    display: flex;
    margin: 24px;
    margin-top: auto;
    background-color:rgba(0,0,0,0.3);
    width: 160px;
    height: 350px;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.4);
}