
body , html{
    /* background: rgb(40,40,40); */
    background: rgb(30,30,33);
    background: linear-gradient(90deg, rgba(30,30,33,1) 0%, rgba(35,35,39,1) 38%, rgba(35,35,39,1) 50%, rgba(35,35,39,1) 62%, rgba(30,30,35,1) 100%);
    margin: 0px;
    padding: 0px;
}

.header {
    color: rgba(255,255,255 ,0.85);
    justify-content: center;
    align-items: center;
    display: flex;
    height: 400px;
    font-size: 70px;
    margin-top: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 0px 0px 8px rgba(0,0,0,0.7);
    font-weight: bold;
}

#bild {
    width: 100%;
    height: 400px;
    position: relative;
    background-image: url('https://wheelchairtravel.org/wp-content/uploads/2018/11/montreal-guide-header.jpg');
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.65);
    background-size: cover;
    
}

#line {
    width: 90%;
    height: 2px;
    margin-bottom: 32px;
    margin-top: -16px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 50%, rgba(255,255,255,0) 100%);
    border: none;
}

.card-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cards {
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
    margin-top: 32px;
    gap: 48px;
}
#card {
    background: rgba(0,0,0, 0.1);
    width: 150px;
    height: 284px;
    display: block;
    flex-direction: column;
    margin-top: 32px;
    margin: auto;
    border: solid 2px;
    border-color: grey;
    border-radius: 12px;
    color: rgb(196, 196, 196);
    padding: 24px;
    font-size: 24px;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.4);
    text-shadow: 0px 0px 8px rgba(0,0,0,0.5);
}

#splits {
    border: none;
    width: 2px;
    height: 322px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(33,219,142,0.4) 50%, rgba(255,255,255,0) 100%);
}

#area {
    display: flex;
    margin: auto;
    margin-top: 0px;
    font-weight:500;
    font-size: 21px;
    height: 0px;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#grader1 {
    font-size: 48px;
    margin-top: 50px;
    margin-left: 0px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#7dddb5;
}

#grader2 {
    font-size: 48px;
    margin-top: 50px;
    margin-left: 0px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#7dddb5;
}

#grader3 {
    font-size: 48px;
    margin-top: 50px;
    margin-left: 0px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#7dddb5;
}

#grader4 {
    font-size: 48px;
    margin-top: 50px;
    margin-left: 0px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#7dddb5;
}

#grader5 {
    font-size: 48px;
    margin-top: 50px;
    margin-left: 0px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#7dddb5;
}


#card-image {
    margin-left: 30px;
    margin-top: 40px;
    height: 100px;
    width: 100px;
    color: rgba(210,255,150,1);
    text-shadow: 0px 0px 16px 0px rgba(0,0,0,0.4); 
}

#menu-buttons {
  position: absolute; 
  display: flex;
  justify-content: center;
  width: 100vw;
  left: 0; 
  right: 0; 
  bottom: 0;
  margin-left: auto; 
  margin-right: auto; 
}

.temp-button {

    color: #fff;
    background-color: rgb(35,35,39);
    height: 48px;
    width: 128px;
    font-size: 16px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: transparent;
    border-right: transparent;
    border-left: transparent;
    border-top: transparent;
    border-radius: 4px 4px 0px 0px;
    cursor: pointer;
    transition-duration: 0.4;
}

.hum-button {

    color: #fff;
    background-color: rgb(35,35,39);
    height: 48px;
    width: 128px;
    font-size: 16px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 16px;
    border-bottom: transparent;
    border-right: transparent;
    border-left: transparent;
    border-top: transparent;
    border-radius: 4px 4px 0px 0px;
    cursor:pointer;
    transition-duration: 0.4;    
}
.hum-button:hover {
    background-color: rgb(0, 90, 68);
    color: white;
  }
.temp-button:hover {
    background-color: rgb(0, 90, 68);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

#digital-clock {

 color: #21db8e;
 width: 35%;
 margin:auto;
 margin-top: -196px;
 padding-top: 8px;
 padding-bottom: 8px;
 font-family: 'Open Sans Condensed', sans-serif;
 font-size: 36px;
 text-align: center;
 text-shadow: 0px 0px 8px rgba(0,0,0,0.5);
}

/* #chart{
    margin-bottom: 7%;
    margin-top: 105px; 
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    border:10px;
    padding: 10 px;
    float: auto; 

} */

#credits {
    width: 100%;
    height:400px;
    position: relative;
    background-image: url("https://wallpaperaccess.com/full/1994605.jpg");
    /* background-image: url(cool-background.png); */
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.5), 0px 0px 16px 0px rgba(0,0,0,0.3), inset 0 0 128px 0 rgba(0,0,0,0.2);
    background-size: cover;
    object-fit: cover;
    object-position: 0% 10%;
}

#credits-header {
    /* background-color: rgb(48,48,48); */
    display: flex;
    justify-content: center;
    color: rgba(255,255,255 ,0.85);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    padding-bottom:16px;
    /* margin-right: 50%; */
    z-index: 10;
    text-shadow: 0px 0px 8px rgba(0,0,0,0.7);
    box-shadow: 8px 0px 0px 0px rgba(0,0,0,1);
}

#credits-list {
    /* background-color: rgb(48,48,48); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 48px;
    z-index: 15;
}

#credits-line {
    width: 90%;
    height: 2px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%);
    border: none;
}

#victor {
    margin: 16px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    border-left: solid 2px rgba(255, 255, 255, 0.3);
    border-right: solid 2px rgba(255, 255, 255, 0.3);
    color: #21db8e;
    text-shadow: 0px 0px 8px rgba(0,0,0,0.8);
}

#gabriel {
    margin:16px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    border-left: solid 2px rgba(255, 255, 255, 0.3);
    border-right: solid 2px rgba(255, 255, 255, 0.3);
    color: #21db8e;
    text-shadow: 0px 0px 8px rgba(0,0,0,0.8);
}

#simon {
    margin:16px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    border-left: solid 2px rgba(255, 255, 255, 0.3);
    border-right: solid 2px rgba(255, 255, 255, 0.3);
    color: #21db8e;
    text-shadow: 0px 0px 8px rgba(0,0,0,0.8);
}

#lucas {
    margin:16px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    border-left: solid 2px rgba(255, 255, 255, 0.3);
    border-right: solid 2px rgba(255, 255, 255, 0.3);
    color: #21db8e;
    text-shadow: 0px 0px 8px rgba(0,0,0,0.8);
}
#noel {
    margin:16px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    border-left: solid 2px rgba(255, 255, 255, 0.3);
    border-right: solid 2px rgba(255, 255, 255, 0.3);
    color: #21db8e;
    text-shadow: 0px 0px 8px rgba(0,0,0,0.8);
}

#room-header {
    color: #21db8e;
    display: flex;
    justify-content: center;
    height: 128px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    background-color: rgba(0,0,0, 0.1);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.1);
    margin-top: 32px;
    margin-bottom: 16px;
}

#statistics-header {
    color: #21db8e;
    display: flex;
    justify-content: center;
    height: 128px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    background-color: rgba(0,0,0, 0.1);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.1);
    margin-top: 16px;
    margin-bottom: 48px;
}

#statistics {
    display: flex;
    flex-direction: row;
    width: 1300px;
    height: 512px;
    background-color: rgb(0,0,0,0.2);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.4);
    margin: auto;
    margin-top: 16px;
    margin-bottom: 48px;
    justify-content: center;
    color: #21db8e;
    gap: 48px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* #columner {
    display: block;
    flex-direction: row;
    margin-bottom: 32px;
    margin-top: 32px;
    gap: 60px;
    width: 15%;
} */

.table-content {
    font-size: 24px;
    color: rgba(255,255,255 ,0.85);
}

.temphum-list {
    color: rgba(255,255,255 ,0.85);
    font-weight: 500;
}

#klassrummet {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    background-color:rgba(0,0,0,0.3);
    width: 206px;
    height: 462px;
    box-shadow: 0px 0px 16px 0px rgba(0,0,50,0.2);
    border-radius: 8px;
}

#terrariet {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    background-color:rgba(0,0,0,0.3);
    width: 206px;
    height: 462px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 50, 0.2);
    border-radius: 8px;
}

#vardagsrummet {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    background-color:rgba(0,0,0,0.3);
    width: 206px;
    height: 462px;
    box-shadow: 0px 0px 16px 0px rgba(0,0,50,0.2);
    border-radius: 8px;
}

#entren {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    background-color:rgba(0,0,0,0.3);
    width: 206px;
    height: 462px;
    box-shadow: 0px 0px 16px 0px rgba(0,0,50,0.2);
    border-radius: 8px;
}

#biblioteket {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    background-color:rgba(0,0,0,0.3);
    width: 206px;
    height: 462px;
    box-shadow: 0px 0px 16px 0px rgba(0,0,50,0.2);
    border-radius: 8px;
}