.title {
    display: flex;
    justify-content: center;
    background: rgb(34, 29, 82);
    padding: 8px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    color:sandybrown;
}

body {
    background-color: rgb(31, 22, 65);
}

.tempImg {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(31, 22, 65);
    border:rgb(31, 22, 65);
    padding: 128px;
    border-radius: 256px;
    font-size: xx-large;
    color:sandybrown;
}

.humImg {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(31, 22, 65);
    border:rgb(31, 22, 65);
    padding: 128px;
    border-radius: 256px;
    font-size: xx-large;
    color:sandybrown;
}

/* .aurora {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
} */ 
fuck off