
body , html{
    /* background: rgb(255,180,90);
    background: radial-gradient(circle, rgba(255,180,90,1) 0%, rgba(50,220,220,1) 100%); */
    background: rgb(40,40,40);
    margin: 0px;
    padding: 0px;
}
.header {
    color: rgba(255,255,255 ,0.85);
    justify-content: center;
    align-items: center;
    display: flex;
    height: 400px;
    font-size: 70px;
    margin-top: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* box-shadow: 0px 0px 12px 0px black; */
    text-shadow: 0px 0px 8px rgba(0,0,0,0.7);
    font-weight: bold;
}

#bild {
    width: 100%;
    height: 400px;
    position: relative;
    background-image: url('https://wheelchairtravel.org/wp-content/uploads/2018/11/montreal-guide-header.jpg');
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.65);
    background-size: cover;
    
}

.card-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cards {
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
    margin-top: 32px;
    gap: 48px;
}
#card {
    background: rgba(0,0,0, 0.1);
    width: 150px;
    height: 400px;
    display: block;
    flex-direction: column;
    margin-top: 32px;
    margin: auto;
    border: solid;
    border-color: grey;
    border-radius: 12px;
    color: rgb(196, 196, 196);
    padding: 24px;
    font-size: 24px;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.4);
    text-shadow: 0px 0px 8px rgba(0,0,0,0.5);
}
/* .navigering {
    width: 100%;
    background-color: rgba(34, 29, 82, 0.0);
} */

#area {
    display: flex;
    margin: auto;
    margin-top: 0px;
    font-weight:500;
    font-size: 21px;
    height: 0px;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#grader1 {
    font-size: 48px;
    margin-top: 50px;
    margin-left: 0px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#grader2 {
    font-size: 48px;
    margin-top: 50px;
    margin-left: 0px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#grader3 {
    font-size: 48px;
    margin-top: 50px;
    margin-left: 0px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#grader4 {
    font-size: 48px;
    margin-top: 50px;
    margin-left: 0px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#grader5 {
    font-size: 48px;
    margin-top: 50px;
    margin-left: 0px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#card-image {
    margin-left: 30px;
    margin-top: 40px;
    height: 100px;
    width: 100px;
    color: rgba(210,255,150,1);
    text-shadow: 0px 0px 16px 0px rgba(0,0,0,0.4); 
}

/* BUTTONS */

#menu-buttons {
  position: absolute; 
  display: flex;
  justify-content: center;
  width: 100vw;
  left: 0; 
  right: 0; 
  bottom: 0;
  margin-left: auto; 
  margin-right: auto; 
}

.temp-button {

    color: #fff;
    background-color: rgb(40,40,40);
    height: 48px;
    width: 128px;
    font-size: 16px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: transparent;
    border-right: transparent;
    border-left: transparent;
    border-top: transparent;
    border-radius: 4px 4px 0px 0px;
    /* border-color: rgb(255,0,100); */
    cursor: pointer;
    transition-duration: 0.4;
    /* box-shadow: 0px 4px 4px -4px #ff2e5b; */
}

.hum-button {

    color: #fff;
    background-color: rgb(40,40,40);
    height: 48px;
    width: 128px;
    font-size: 16px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 16px;
    border-bottom: transparent;
    border-right: transparent;
    border-left: transparent;
    border-top: transparent;
    border-radius: 4px 4px 0px 0px;
    /* border-color: rgb(255,0,100); */
    cursor:pointer;
    transition-duration: 0.4;
    /* box-shadow: 0px 4px 4px -4px #ff2e5b; */
    
}
.hum-button:hover {
    background-color: rgb(0, 90, 68); /* Green */
    color: white;
  }
.temp-button:hover {
    background-color: rgb(0, 90, 68);
}



/* Importing Open Sans Condensed Google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

#digital-clock {

 /* background-color: rgba(0, 0, 0, 0.1); */
 color: #21db8e;
 width: 35%;
 margin:auto;
 margin-top: -196px;
 padding-top: 8px;
 padding-bottom: 8px;
 font-family: 'Open Sans Condensed', sans-serif;
 font-size: 36px;
 text-align: center;
 /* border: solid;
 border-color: grey;
 border-radius: 8px; */
 text-shadow: 0px 0px 8px rgba(0,0,0,0.5);
 /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
/* Button pressed effect */
/* .temp-button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px); */

/* #temp_chart {
    background: transparent;
    margin-top: 64px;
    width: 400px;
    height: 200px;
} */